.bx-button {
  padding-left: spacing(10);
  padding-right: spacing(10);
  padding-top: spacing(5);
  padding-bottom: spacing(5);
  background-color: $white;
  color: $black;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: border($black);
  border-radius: spacing(4);
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover,
  &:focus {
    background-color: rgba($blue, 0.1);
    color: $blue;
  }

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $white;
    outline: outline($blue);
  }

  &.rounded {
    border-radius: 9999px;
  }

  &.outlined:hover,
  &.outlined:focus {
    border-color: $blue;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: rgba($white, 0.5);
    color: rgba($black, 0.5);
    border-color: rgba($black, 0.5);
    cursor: default;
  }

  @each $variant, $color in $variants {
    &#{&}--#{$variant} {
      background-color: $color;
      color: $white;
      border-color: $color;

      &:hover,
      &:focus {
        background-color: rgba($color, 0.8);
      }

      &:focus {
        border-color: $white;
        outline: outline($color);
      }

      &.outlined {
        background-color: rgba($color, 0.1);
        color: $color;
        border-color: $color;

        &.disabled,
        &.disabled:hover,
        &.disabled:focus {
          background-color: rgba($color, 0.1);
          color: rgba($color, 0.5);
          border-color: rgba($color, 0.5);
        }
      }

      &.disabled,
      &.disabled:hover,
      &.disabled:focus {
        background-color: rgba($color, 0.5);
        color: rgba($white, 0.5);
        border-color: rgba($color, 0.5);
      }
    }
  }
}
