.bx-checkbox {
  display: flex;
  align-items: center;

  .bx-checkbox--control-wrap {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .bx-checkbox--icon {
      @extend .bg-white;
      @extend .border-blue;
      @extend .border-1;
      @extend .radius-2;

      width: 20px;
      height: 20px;
      cursor: pointer;

      position: relative;
    }

    .bx-checkbox--control {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
    }

    .bx-checkbox--control:checked {
      + .bx-checkbox--icon {
        @extend .bg-blue;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          content: '';
          margin-bottom: 2px;
          transform: rotate(-45deg);
          width: 8px;
          height: 4px;

          border-bottom: 2px solid $white;
          border-left: 2px solid $white;
        }
      }
    }

    .bx-checkbox--control:focus {
      outline: none;

      + .bx-checkbox--icon:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        @extend .bg-blue-1;
      }
    }
  }

  .bx-checkbox--label {
    cursor: pointer;
    user-select: none;
  }

  &.bx-checkbox--disabled {
    @extend .text-gray;

    .bx-checkbox--control {
      cursor: default;

      &:checked + .bx-checkbox--icon {
        @extend .bg-gray;
      }
    }

    .bx-checkbox--icon {
      @extend .border-gray;
    }

    .bx-checkbox--label {
      cursor: default;
    }
  }
}
