.bx-button {
  @extend .px-10;
  @extend .py-5;
  @extend .bg-white;
  @extend .text-black;
  @extend .border-black;
  @extend .border;
  @extend .radius-4;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover,
  &:focus {
    @extend .text-blue;
    @extend .border-blue;
  }

  &:focus {
    @extend .border-white;
    @extend .outline-blue;
  }

  &.bx-button--outlined {
    @extend .border-black;

    &:hover,
    &:focus {
      @extend .border-blue;
    }

    &:focus {
      @extend .border-white;
    }

    &.bx-button--disabled {
      &,
      &:hover,
      &:focus {
        @extend .border-gray-5;
      }
    }
  }

  &.bx-button--rounded {
    @extend .rounded;
  }

  &.bx-button--disabled {
    &,
    &:hover,
    &:focus {
      @extend .bg-white-5;
      @extend .text-black-5;
      @extend .border-black-5;

      cursor: default;
    }
  }

  @each $variant, $value in $variants {
    &.bx-button--#{$variant} {
      @extend .text-white;
      @extend .border-#{$variant};
      @extend .bg-#{$variant};

      &:hover,
      &:focus {
        @extend .bg-#{$variant}-8;
      }

      &:focus {
        @extend .outline-#{$variant};
      }

      &.bx-button--disabled {
        &,
        &:hover,
        &:focus {
          @extend .text-white-5;
          @extend .border-#{$variant}-5;
          @extend .bg-#{$variant}-5;
        }
      }

      &.bx-button--outlined {
        @extend .bg-#{$variant}-1;
        @extend .text-#{$variant};
        @extend .border-#{$variant};

        &:hover,
        &:focus {
          @extend .bg-#{$variant};
          @extend .text-white;
        }

        &:hover {
          @extend .border-#{$variant};
        }

        &:focus {
          @extend .border-white;
        }

        &.bx-button--disabled {
          &,
          &:hover,
          &:focus {
            @extend .bg-#{$variant}-1;
            @extend .text-#{$variant}-5;
            @extend .border-#{$variant}-5;
          }
        }
      }
    }
  }
}
