.bx-select {
  outline: none;

  &__placeholder {
    padding: spacing(5);
    padding-right: 50px;
    min-width: $min-width;
    width: 100%;
    background-color: $white;
    color: $black;
    font-size: 1rem;
    border: border(transparent);
    border-radius: spacing(4);
    position: relative;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: outline($blue);
      border-color: $blue;
    }

    &::placeholder {
      font-family: inherit;
      color: $gray;
    }

    .selection,
    .placeholder {
      min-height: 20px;
      @include text_ellipsis;
    }

    .placeholder {
      color: $gray;
    }

    .caret {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      transition: all 0.3s linear;

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        width: 8px;
        height: 8px;
        border: border(transparent, spacing(1));
        border-right-color: $gray;
        border-bottom-color: $gray;
      }
    }
  }

  &__error {
    margin-top: spacing(2);
    padding-left: spacing(5);
    padding-right: spacing(5);
    color: $red;
    font-size: 12px;
  }

  &:focus &__placeholder {
    outline: outline($blue);
    border-color: $blue;
  }

  &.show &__placeholder {
    .caret {
      transform: rotate(180deg);
    }
  }

  &.disabled &__placeholder {
    @include disabled;

    border-color: transparent;
    outline: none;
    cursor: default;
  }

  &.error &__placeholder {
    border-color: $red;
    background-color: rgba($red, 0.2);
    outline: none;

    &:focus {
      outline: outline($red);
    }
  }
}

.bx-select__list {
  padding: spacing(5);
  background-color: $white;
  border-radius: spacing(4);
  box-shadow: shadow($gray);

  position: fixed;
  z-index: 999;

  .bx-select__item {
    border-radius: spacing(4);
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;

    span {
      @include text_ellipsis;
    }

    &.selected,
    &:hover {
      background-color: rgba($blue, 0.1);
    }

    &.disabled {
      @include disabled;
    }

    + .bx-select__item {
      margin-top: 5px;
    }
  }

  &:not(.multiple) .bx-select__item {
    padding: spacing(5);
  }
}
