.bx-range-slider {
  height: 24px;
  position: relative;

  &__track {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    height: 4px;
    background-color: rgba($gray, 0.2);
    border-radius: spacing(1);
    cursor: pointer;
  }

  &__active-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    background-color: $blue;
    border-radius: spacing(1);
    cursor: pointer;
  }

  &__control {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background-color: $blue;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;

      &:after {
        content: '';
        @include absolute_center;
        width: 40px;
        height: 40px;
        background-color: rgba($blue, 0.1);
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  &.disabled &__track {
    cursor: default;
  }

  &.disabled &__active-track {
    background-color: $gray;
    cursor: default;
  }

  &.disabled &__control {
    background-color: $gray;
    cursor: default;

    &:focus::after {
      display: none;
    }
  }
}
