$colors: (
  'blue': $blue,
  'green': $green,
  'red': $red,
  'yellow': $yellow,
  'black': $black,
  'gray': $gray,
  'white': $white,
  'transparent': transparent
);

$color_properties: (
  'text': color,
  'bg': background-color,
  'border': border-color,
  'border-t': border-top-color,
  'border-b': border-bottom-color,
  'border-l': border-left-color,
  'border-r': border-right-color,
  'border-x': (
    border-left-color,
    border-right-color
  ),
  'border-y': (
    border-top-color,
    border-bottom-color
  )
);

$variants: (
  'blue': $blue,
  'green': $green,
  'red': $red,
  'yellow': $yellow,
  'gray': $gray
);

@include color_classes($colors, $color_properties);
@include outline_classes($variants);
@include shadow_classes($variants);
