*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;

  @extend .bg-gray-1;
}

button {
  border-style: solid;
}

a {
  text-decoration: none;
}

.active {
  @extend .bg-blue-1;
}

.disabled {
  @extend .bg-gray-1;
  @extend .text-gray;

  cursor: default;
}
