$blue: #409eff;
$green: #67c23a;
$red: #f56c6c;
$yellow: #e6a23c;
$black: #303133;
$gray: #909399;
$white: #ffffff;

$hover-opacity: 0.8;
$disabled-opacity: 0.5;

$unit: 2px;

$colors: (
  'blue': $blue,
  'green': $green,
  'red': $red,
  'yellow': $yellow,
  'black': $black,
  'gray': $gray,
  'white': $white,
  'transparent': transparent
);

$margins: (
  'm': margin,
  'ml': margin-left,
  'mr': margin-right,
  'mt': margin-top,
  'mb': margin-bottom,
  'mx': (
    margin-left,
    margin-right
  ),
  'my': (
    margin-top,
    margin-bottom
  )
);

$paddings: (
  'p': padding,
  'pl': padding-left,
  'pr': padding-right,
  'pt': padding-top,
  'pb': padding-bottom,
  'px': (
    padding-left,
    padding-right
  ),
  'py': (
    padding-top,
    padding-bottom
  )
);

$variants: (
  'blue': $blue,
  'green': $green,
  'red': $red,
  'yellow': $yellow,
  'gray': $gray
);
